<div class="block">
  <% if current_user.friend_requests.any? %>
    <strong>Pending Friend Requests</strong>
    <br><br>
    <%= render 'notifications' %>
  <% end %>
</div>

<div class="block">
  <strong>Your Friends List</strong>
  <br><br>
  <% unless current_user.friends.empty? %>
    <% current_user.friends.each do |friend| %>
        <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <%= image_tag friend.image.url if friend.image? %>
                </figure>
              </div>
              <div class="media-content">
                <nav class="level">
                  <div class="level-left">
                    <div class="level-item"><%= friend.full_name %></div>
                  </div>
                </nav>
              </div>
            </article>
          </div>
    <% end %>
  <% else %>
    Oh noo, you any friends yet. Be quick to send friendship requests below!
  <% end %>
  
</div>

<div class="block">
  <strong>Other Users</strong>
  <br><br>
  <% @users.each do |user| %>
    <% if current_user.id != user.id%>
      <% unless potential_friends?(user) %>
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= image_tag user.image.url if user.image? %>
              </figure>
            </div>
            <div class="media-content">
              <nav class="level">
                <div class="level-left">
                  <div class="level-item"><%= user.full_name %></div>
                </div>
                <div class="level-right">
                  <div class="buttons">             
                    <%= link_to "Send Friend Request", user_friendships_path(user), method: :post, class: "button is-link is-light" %>
                  </div>
                </div>
              </nav>
            </div>
          </article>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>