<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <%= image_tag @user.image.url if @user.image? %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="subtitle is-2"><%= @user.full_name %></p>
        <% if current_user == @user %>
          <div class="buttons">
            <%= link_to 'Edit Profile', edit_user_registration_path, class: "button is-link is-outlined" %> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br>
<p class="subtitle is-3">Posts</p>
<br>
<% @user.posts.each do |p| %>
  <%= render 'posts/post',  post: p%>
<% end %>
  
