<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <%= image_tag @user.image.url if @user.image? %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="subtitle is-2"><%= current_user.full_name %></p>
         <p class="subtitle is-6"><%= link_to 'Edit Profile', edit_user_registration_path %> </p>
      </div>
    </div>
  </div>
</div>

<br>
<p class="subtitle is-3">My Posts</p>
<br>
<% current_user.posts.each do |p| %>
  <%= render 'posts/post',  post: p%>
<% end %>
  
