<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <strong><%= post.user.full_name %></strong>
      <br><%= post.context %><br>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <small><%= render 'likes/posts', { post: post } %></small>
          </a>
          <a class="level-item">
            <small> · <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</small>
          </a>
        </div>
      </nav>
    </div>
    <% if post.comments.any? %>
      <%= render 'comments/comments', { comments: post.comments }%>
    <% end %>
    <article class="media">
      <figure class="media-left">
        <p class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
      </figure>
      <div class="media-content">
        <%= render 'comments/form', { post: post } %>
      </div>
    </article>  
  </div>
</article>