<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= image_tag post.user.image.url if post.user.image? %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <strong><%= post.user.full_name %></strong>
      <br><%= post.context %><br>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <small><%= render 'likes/posts', { post: post } %></small>
          </a>
          <a class="level-item">
            <small> · <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</small>
          </a>
        </div>
        <% if current_user.id == post.user_id %>
        <div class="level-right">
          <a class="level-item">
            <small><%= link_to post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" } do %>
              <span class="icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
            <% end %></small>
          </a>
        </div>     
        <% end %>
      </nav>
    </div>
    <% if post.comments.any? %>
      <%= render 'comments/comments', { comments: post.comments }%>
    <% end %>
    <article class="media">
      <figure class="media-left">
        <p class="image is-48x48">
          <%= image_tag current_user.image.url if current_user.image? %>
        </p>
      </figure>
      <div class="media-content">
        <%= render 'comments/form', { post: post } %>
      </div>
    </article>  
  </div>
</article>